{% extends "blog/base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>
<p class="date">Published {{ post.publish }} by {{ post.author }}</p>
{% if request.user == post.author %}
<p>Вы можете <a href="{{ post.get_absolute_url }}update">редактировать</a> или <a href="{{ post.get_absolute_url }}delete">удалить</a> публикацию</p>
{% endif %}
<img src="{% if post.image %} 
        {{ post.image.url }}
    {% else %}
        {% static 'css/no_image.jpg' %}
    {% endif %}" class='post-image'>
{{ post.body|linebreaks }}

<h3>Похожие посты</h3>

{% for post in similar_posts %}
<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
<br>
{% empty %}
<h4>Нет похожих постов</h4>
{% endfor %}

{% with comments.count as total_comments %}
<h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
{% endwith %}

{% for comment in comments %}
<div class="comment">
   <span class="comentator"> {{ comment.name }}:</span>
   <br>
   <span class='text'>{{ comment.body|linebreaks }}</span> 
   <hr>
</div>
{% empty %}
<p>There is no comments yet</p>
{% endfor %}

{% if new_comment %}
<h2>Your comment has been added.</h2>
{% else %}
<h2>Add a new comment</h2>
<form action="." method="post">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-3">
            <div class="form-group">
               {{ comment_form.as_p }}
               {% csrf_token %}
               
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
         </div>
      </div>
   </div>
</form>

{% endif %}
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}