{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Справка{% endblock %}
 
{% block content %}
<h1>Вспомогательная страница</h1>
 
<h2>Справка</h2>
<p>Данная программа представляет собой блог ориентированный на помощь бездомным животным
    Она предоставляет возможность авторизированным пользователям делиться собственным мнением
    насчет этой проблемы посредством публикации статей. Доступ к авторизации, либо написанию статьи
    имеется в боковой панели сайта. Для оставления комментария к чужой, либо редактирования или удаления собственной
    статьи перейдите на страницу статьи.</p>
<p>Модерация и администрирование осуществляются человеком со специальными правами суперпользователя.
    Он имеет доступ к административной панели и через нее может вести базы данных статей, комментариев и пользователей.</p>
 
<h2>О программе</h2>
<p>Разработана учащимся 4-го курса 28-ой группы Минского Государственного Колледжа Электроники
    Лучицем Денисом Валерьевичем. Материалы представленные на сайте использованы для ознакомительных целей.
    <i>2020г.</i></p>
{% endblock %}